KONG_IMAGE=kong:3.7
DECK_IMAGE=kong/deck:latest

KONG_PG_DATABASE=kong
KONG_PG_USER=kong
KONG_PG_PASSWORD=change-me

KONG_PROXY_PORT=8000
KONG_ADMIN_PORT=8001

ACTIVE_COLOR=blue
STOP_OLD_AFTER_SWITCH=true
